.body {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.transactions {
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  max-height: min(40vh, 20rem);
  overflow: auto;
}
