.root {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mantine-spacing-xs);
}

.suggestion {
  cursor: pointer;
}
